body,
html,
main,
section,
header,
footer,
ul,
li,
div {
  padding: 0;
  margin: 0;
}

header {
  height: 10vmin;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 0 2px 6px #e5e5e5;
  display: flex;
  align-items: center;
}

header::before {
  content: "";
  width: 16vmin;
}

/* nav */
header > ul > li {
  position: relative;
  list-style: none;
  float: left;
  padding: 1rem;
  cursor: pointer;
}

header > ul > li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  border-bottom: 2px solid #000;
  transition: all 0.4s linear;
}

header > ul > li:hover::after {
  width: 100%;
  left: 0;
}

header > ul > li:hover ~ li::after {
  left: 0;
}

footer {
  position: relative;
  height: 6vmin;
  border-top: 1px solid #b4b4b4;
  box-shadow: 0 2px 6px #e5e5e5 inset;
  padding-top: 3vmin;
}

/* svg */
footer > div {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

footer > div > a {
  display: inline-block;
  color: #000;
}

footer > div > a:link {
  color: #000;
}

/* 一言 */
blockquote {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: default;
}

blockquote > span {
  position: relative;
  left: 20vmin;
}

/* 内容 */
main {
  width: 102vw;
  height: 100vh;
  overflow-y: auto;
}

section {
  height: 100vh;
  text-align: center;
}

.g-container {
  background-image: url(../img/p.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

/* 点击图片水波效果 */
.g-position {
  position: absolute;
  width: 100vmin;
  height: 100vmin;
}

.g-center {
  position: relative;
  width: 100%;
  height: 100%;
}

.wave {
  position: absolute;
  top: calc((100% - 2vmin) / 2);
  left: calc((100% - 2vmin) / 2);
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background-image: url(../img/p.jpg);
  background-attachment: fixed;
  background-position: center center;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  transition: all 0.2s;
}

.g-wave1 {
  background-size: auto 105%;
  animation: wave 1s ease-out 0.05s;
  animation-fill-mode: forwards;
  z-index: 10;
}

.g-wave2 {
  background-size: auto 101%;
  animation: wave 1s ease-out 0.1s;
  animation-fill-mode: forwards;
  z-index: 20;
}

.g-wave3 {
  background-size: auto 103%;
  animation: wave 1s ease-out 0.15s;
  animation-fill-mode: forwards;
  z-index: 30;
}

.g-wave4 {
  background-size: auto 100%;
  animation: wave 1s ease-out 0.2s;
  animation-fill-mode: forwards;
  z-index: 40;
}

@keyframes wave {
  0% {
    top: calc((100% - 2vmin) / 2);
    left: calc((100% - 2vmin) / 2);
    width: 2vmin;
    height: 2vmin;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    top: calc((100% - 10vmin) / 2);
    left: calc((100% - 10vmin) / 2);
    width: 10vmin;
    height: 10vmin;
    opacity: 0;
  }
}

/* 返回顶部按钮 */
.gotop {
  position: fixed;
  right: 2vmin;
  bottom: 3vmin;
  cursor: pointer;
  display: none;
}